---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<style>
    h1 {
        color: blue;
        font-size: 2rem;
    }
</style>

<MainLayout pageTitle="About Page">
    <h1>About Page</h1>
    <CustomTitle titleCustom="About Us Custom" />
</MainLayout>
