---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout pageTitle="Home Page">
	<h1>Juanma MC</h1>
	<p>
		Momento actual: <strong> {new Date().toLocaleTimeString()}</strong>
	</p>
	<p>
		Momento actual real:
		<strong id="time-now-real">
			{new Date().toLocaleTimeString()}
		</strong>
	</p>
</MainLayout>
